<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    function getButton() {
        fetch("/test").then(res => res.json()).then(data => {
            alert(data['msg'])
        })
    }

    function postButton() {
        let formData = new FormData();
        formData.append("title_give", "블랙팬서");

        fetch("/test", { method: "POST", body: formData }).then(res => res.json()).then(data => {
            alert(data['msg'])
        })
    }
</script>

<body>
    <button onclick="getButton()">getButton</button>
    <button onclick="postButton()">postButton</button>
    <ul>
        <li>github 풀리퀘스트 확인 : (팀원과 함께 먹고 싶은 움식? 괄호에 넣기)</li>
        <li>김희석 : ()</li>
        <li>이현경 : ()</li>
        <li>임수영 : ()</li>
        <li>이은비 : ()</li>
    </ul>
</body>
</html>